node_modules
*.bak
.chrome
doc
.vscode

src/*.js
src/chrome/*.js
src/chrome/model/*.js
src/common/*.js
src/desktop/*.js
src/file/*.js
src/functional/*.js
src/test/*.js
src/test/model/*.js

src/*.d.ts
src/chrome/*.d.ts
src/chrome/model/*.d.ts
src/common/*.d.ts
src/desktop/*.d.ts
src/file/*.d.ts
src/functional/*.d.ts
src/test/*.d.ts
src/test/model/*.d.ts